.hero__div {
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: 20px;
}

.hero__img {
    /* opacity: 1; */
    max-height: 575px;
    object-fit: cover;
}

.hero__items {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: 200;
}


.category__container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.cardItem{
    margin: 0rem 2rem 0rem 1rem;
}
.tcardItem{
    margin:  0rem 1.5rem 0rem 1rem;
}

.ccardItem{
    margin: 0.5rem;
}

.trending__container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.content__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

.top__container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.top__container img{
    margin: 1.5rem;
}

.rtsection__container {
    display: grid;
    grid-template-columns: 22.5rem 22.5rem 22.5rem 22.5rem;
    grid-template-rows: auto;
    padding-left: 2rem;
}

.sort {
    padding: 0.3rem;
    background-color: rgba(255, 153, 0, 0.2);
    outline: none;
    border-radius: 5px;
    border: 0px solid rgba(255, 153, 0, 0.2);
    color: black;
}

.sort_div {
    margin-left: 1rem;
}


.bc-icons-2 .breadcrumb-item+ .breadcrumb-item::before {
    content: none;
}


.left_epcontent p {
    margin-left: 2rem;
}

.left_epcontent {
    margin-bottom: 3rem;
    text-align: center;
    color: black;
    display: flex;
}

.right_epcontent {
    border: 1px solid orange;
    border-radius: 10px;
    padding: 2rem 2rem;
    text-align: center;
    color: black;
    text-align: left;
}
