.hero__div {
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: 20px;
}

.hero__img {
    opacity: 0.7;
}

.hero__items {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: 200;
}

.category__container {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: auto;
}

.trending__container {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: auto;
}

.content__container {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: auto;
    row-gap: 4rem;
}

.top__container {
    display: grid;
    grid-template-columns: 280px 280px 280px 280px 280px;
    grid-template-rows: auto;
}

.rtsection__container{
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: auto;
    padding-left: 2rem;
}

.sort{
    padding: 0.3rem;
    background-color: rgba(255, 153, 0, 0.2);
    outline: none;
    border-radius: 5px;
    border:0px solid rgba(255, 153, 0, 0.2);
    color: black;
}

.sort_div{
    margin-left: 1rem;
}


.bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
    content: none;
  }
